<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org//dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.zc.springbootshrio.mapper.UserMapper">
 <select id="selectUserByName" resultType="com.zc.springbootshrio.entity.User">
 select * from user where user_name = #{userName}
</select>
 </mapper> 